.wrap {
  height: 100%; 
  overflow: hidden;
}
.index {
  position: relative;
  height: 100%;
  background: #42CEE4
}
section {
  position: relative; z-index: 1;
  background: #EC40E6;
  min-height: 60px;
  height: 420px; overflow-y: auto;
}
section ul li {
  height: 60px; border-bottom: 2px solid #fff; line-height: 60px;
  text-align: center;
}